

@font-face {
  font-family: 'IranYekan';
  src: url('../font/iranyekanweblight.eot');
  src: url('../font/iranyekanweblight.eot') format('embedded-opentype'),
  url('../font/iranyekanweblight.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

